auto-install-peers=true
strict-ssl=false
# registry=https://npm.vinteo.com/repository/npm-private/
email=devops@vinteo.com
//npm.vinteo.com/repository/npm-private/:_auth=bi5hbGVrc2VldjpGeW5qeVlicmJuYng4OF9f
//npm.vinteo.com/repository/npm-private/:_authToken=NpmToken.a5548eae-bfff-32ef-ac32-490854174926
